{% load static %}
{% include 'sidebar.html' %}
{% include 'header.html' %}
{% block content %}


<!doctype html>
<html lang="en">

<body data-sidebar="dark">

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

<div class="page-content">
<div class="container-fluid">

<!-- start page title -->
<h1>ADD PURCHASE ITEM</h1>

<div class="col-lg-12">
<div class="card">
<div class="card-body">
    <form method="POST" action="" id="manage-item">
        {% csrf_token %}
        <input type="hidden" name="id" value="">
        <div class="row">
            <div class="col-md-12">
                <div id="msg" class="">
                </div>
                <div class="row">
                    <div class="col-sm-3 form-group ">
                    </div>
                    <h4>Add Purchase Item</h4>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 form-group ">
                        <label for="" class="control-label">Item</label>
                        <input type="text" name="item" id="item" cols="30" rows="2"
                            class="form-control" value="">
                        </div>
                    <div class="col-sm-6 form-group ">
                        <label for="" class="control-label">Price</label>
                        <input type="number" name="price" id="price" cols="30" rows="2"
                            class="form-control" value="">
                        </div>
                    </div>
                    <hr>
                    
                    <ul>
                    <center><button class="btn btn-primary" type="submit">Submit</button>



                    <a class="btn btn-danger" href="{% url 'add_pure_item' %}">Cancel</a></center>
                </ul>  
                    
            </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4>Item Details</h4>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                            <tr style="background-color: #0c3b6a;">
                                <th scope="col" style="color: aliceblue;"><b>#</b></th>
                                <th scope="col" style="color: aliceblue;">Item</th>
                                <th scope="col" style="color: aliceblue;">Price</th>
                                <th scope="col" style="color: aliceblue;">Action</th>
                            </tr>
                            </thead>
                            {% for i in form %}
                            <tbody>
                            <tr>
                                <th scope="row">{{i.id}}</th>
                                <td>{{i.item}}</td>
                                <td>{{i.price}}</td>
                                <td><a href="{% url 'add_pure_edit' i.id %}" class="btn btn-success btn-flat ">
                                    <i class="fas fa-edit"></i></a>
                                <a href="{% url 'add_pure_delete' i.id %}" class="btn btn-danger btn-flat ">
                                    <i class="fas fa-trash"></i></a></td>
                            </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    </div>
                    </div>

        </form>                                
</div>

</div>
</div>
</div>
</div>
<!-- end row -->
</div> <!-- container-fluid -->
</div>
</body>    <!-- End Page-content -->
                    
                    {% endblock %}
                    {% include 'footer.html' %}
