{% load static %}
{% include 'sidebar.html' %}
{% include 'header.html' %}
{% block content %}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Nursery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
        
        <!-- jvectormap -->
        <link href="{% static 'assets/libs/jqvmap/jqvmap.min.css' %}" rel="stylesheet" />

        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body data-sidebar="dark">
        <div id="layout-wrapper">
            <!-- ============================================================== -->
          <!-- Start right Content here -->
          <!-- ============================================================== -->

          <div class="main-content">

              <div class="page-content">
                  <div class="container-fluid">
                    <div class="card">
                    <div class="card-body">
                     <h1>Party Final Invoice</h1>
                     <hr>
                      <!-- start page title -->

                      <div class="row">
                            <div class="col-sm-2">
                                <img src="{% static 'assets/images/logo.png' %}" alt="logo" height="100px" width="100px">
                            </div>
                            <div class="col-sm-8">
                                <center><h4 style="color: green;"><u>Shri Banashri Nursery farm</u></h4>
                                    <u><h5>At|| Angragatti.Ta|| Byadgi ||Dq :Haveri</h5></u></center>
                            </div>
                            <div class="col-sm-2">
                                <h6>N:9242244731</h6>
                                <h6>M:9591002731</h6>
                                <h6>P:9535618731</h6>
                                <h6>G:9972328131</h6>
                            </div> 
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                            <table class="table table-bordered" style="border: 1px;">
                                <thead >
                                    <tr style="background-color:rgba(217, 225, 242, 1.0);">
                                        <b>
                                        <th style="text-align: center;">Date</th>
                                        <th>05-04-2023</th>
                                        </b>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" style="border: 1px;">
                                    <tr style="background-color:rgba(217, 225, 242, 1.0);">
                                        <b>
                                        <th style="text-align: center;" colspan="2">Bill To</th>
                                        </b>
                                    </tr>
                                    <tr>
                                        <th style="background-color:rgba(217, 225, 242, 1.0);width: 25%;">Name</th>
                                        <td>Afna Seeds</td>
                                    </tr>
                                    <tr>
                                        <th style="background-color:rgba(217, 225, 242, 1.0);" >Address</th>
                                        <td>Ranebennur</td>
                                    </tr>
                                    <tr>
                                        <th style="background-color:rgba(217, 225, 242, 1.0);" >Phone No</th>
                                        <td>9731016520</td>
                                    </tr>
                        </table>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" style="border: 1px;">
                                <tr style="background-color:rgba(217, 225, 242, 1.0);">
                                    <b>
                                    <th style="width:min-content;">#</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    <th>Tray No</th>
                                    <th>Price</th>
                                    <th>Advance</th>
                                    <th>Total Amount</th>
                                    </b>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>01/10/2023</td>
                                    <td>TOMATO - DOUBLE SEED</td>
                                    <td>120</td>
                                    <td>₹50</td>
                                    <td>₹0</td>
                                    <td>₹6000</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>12/10/2023</td>
                                    <td>TOMATO</td>
                                    <td>305</td>
                                    <td>₹45</td>
                                    <td>₹0</td>
                                    <td>₹13725</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>01/10/2023</td>
                                    <td>TOMATO - DOUBLE SEED</td>
                                    <td>120</td>
                                    <td>₹50</td>
                                    <td>₹0</td>
                                    <td>₹6000</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>02/12/2023</td>
                                    <td>AMOUNT RECEIVED IN CASH</td>
                                    <td>0</td>
                                    <td>₹0</td>
                                    <td>₹25300</td>
                                    <td>₹0</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>02/12/2023</td>
                                    <td>LESS DISCOUNT</td>
                                    <td>0</td>
                                    <td>₹0</td>
                                    <td>₹50</td>
                                    <td>₹0</td>
                                </tr>
                                <tr style="background-color:rgba(217, 225, 242, 1.0);">
                                    <td></td>
                                    <td></td>
                                    <td>Total Tray</td>
                                    <td>550</td>
                                    <td></td>
                                    <td>Total Advance</td>
                                    <td>₹25350</td>
                                </tr>
                                <tr style="background-color:rgba(217, 225, 242, 1.0);">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Total Balance</td>
                                    <td>₹0</td>
                                </tr>
                        </table>
                        <hr>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                            <img src="{% static 'assets/images/1.png' %}" alt="phonepay" width="70px" height="60px">
                            <img src="{% static 'assets/images/2.png' %}" alt="Googlepay" width="70px" height="60px">
                            <img src="{% static 'assets/images/3.png' %}" alt="paytmpay" width="70px" height="60px">
                            <img src="{% static 'assets/images/4.png' %}" alt="Upipay" width="80px" height="60px">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                            <p>ನಮ್ಮಲ್ಲಿ ಎಲ್ಲಾ ತರಹದ ತರಕಾರಿ ಸಸಿಗಳನ್ನು ನರ್ಸರಿ ಮಾಡಿಕೊಡುತ್ತೆವೆ
                                ಪಾಕೀಟ್‌ಬೀಜ ಅಥವಾ ಖುಲ್ಲಾ ಬೀಜದ ಯಾವುದೇ ಸಸಿಗಳನ್ನು
                                ಬೆಳೆಸಿಕೊಂಡು ನರ್ಸರಿಯಿಂದ ಹೋದಮೇಲೆ ನಾವು ಯಾವುದೇ ಜವಾಬ್ದಾರಿ ಇರುವುದಿಲ್ಲ.</p>
                        </div>
                        <div class="col-sm-3">
                            <p><b>ACCOUNT DETAILS
                                NAVEEN SHANKRAPPA KATENAHALLI
                                A/C NO : 600301010051173
                                IFSC CODE : UBIN0560031
                                BANK : UNION BANK OF INDIA
                                BRANCH:BYADGI</b></p>
                        </div>
                        <div class="col-sm-3">
                            <b><p style="float: right;">Signature</p></b>
                        </div>
                      </div>
                    </div>
                </div>
                  </div> <!-- container-fluid -->
              </div>
              <!-- End Page-content -->



        

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="static/assets/libs/jquery/jquery.min.js"></script>
        <script src="static/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="static/assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="static/assets/libs/simplebar/simplebar.min.js"></script>
        <script src="static/assets/libs/node-waves/waves.min.js"></script>

        <!-- apexcharts js -->
        <script src="static/assets/libs/apexcharts/apexcharts.min.js"></script>

        <!-- jquery.vectormap map -->
        <script src="static/assets/libs/jqvmap/jquery.vmap.min.js"></script>
        <script src="static/assets/libs/jqvmap/maps/jquery.vmap.usa.js"></script>

        <script src="static/assets/js/pages/dashboard.init.js"></script>

        <script src="static/assets/js/app.js"></script>

    </body>
</html>

{% endblock %}